header {
    width:100%;
    float: left;
    text-align: center;
    font-family: Batang;
    background-color:lightgoldenrodyellow;
}
nav {
    width: 20%;
    float: left;
    background-color: burlywood;

}
main {
    width: 60%;
    font-size: large;
    float: left;
    background-color: blanchedalmond;

}
main img {

    width: 250px;
    display: block;
    margin: 0 auto;
}
footer{
    width: 100%;
    float: left;
    font-size: small;
    font-weight: bold;
    text-align: center;
    background-color: darkgoldenrod;
}
main p {

    margin-top: 30px;
    text-indent: 25px;
    font-family: Batang;

}
/* menu */

ul {

    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: seashell;
    border: 1px solid black;
}
li a {

    display: block;
    color: #000;
    padding:8px 0 8px 16px;
    text-decoration: none;

}
/*menu hover*/

li a:hover {

    background-color: gray;
    color: white;
}
li {

    text-align: center;
    border-bottom: 1px solid black
;
}
li:last-child {

    border-bottom: none;
}



